[submodule "src/sensors/rplidar_ros"]
	path = src/sensors/rplidar_ros
	url = https://github.com/Enmar123/rplidar_ros.git
[submodule "src/sensors/sick_tim"]
	path = src/sensors/sick_tim
	url = https://github.com/Enmar123/sick_tim.git
[submodule "src/sensors/usb_cam"]
	path = src/sensors/usb_cam
	url = https://github.com/Enmar123/usb_cam.git
[submodule "src/sensors/LMS1xx"]
	path = src/sensors/LMS1xx
	url = https://github.com/clearpathrobotics/LMS1xx.git
[submodule "src/control/hector_slam"]
	path = src/control/hector_slam
	url = https://github.com/Enmar123/hector_slam.git
[submodule "src/control/interactive_marker_twist_server"]
	path = src/control/interactive_marker_twist_server
	url = https://github.com/ros-visualization/interactive_marker_twist_server.git
[submodule "src/control/slam_gmapping"]
	path = src/control/slam_gmapping
	url = https://github.com/Enmar123/slam_gmapping.git
[submodule "src/control/twist_mux"]
	path = src/control/twist_mux
	url = https://github.com/Enmar123/twist_mux.git
[submodule "src/jackal"]
	path = src/jackal
	url = https://github.com/Enmar123/jackal.git
[submodule "src/jackal_desktop"]
	path = src/jackal_desktop
	url = https://github.com/Enmar123/jackal_desktop.git
[submodule "src/jackal_robot"]
	path = src/jackal_robot
	url = https://github.com/Enmar123/jackal_robot.git
