[submodule "src/sensors/rplidar_ros"]
	path = src/sensors/rplidar_ros
	url = https://github.com/Enmar123/rplidar_ros.git
[submodule "src/sensors/sick_tim"]
	path = src/sensors/sick_tim
	url = https://github.com/Enmar123/sick_tim.git
[submodule "src/sensors/usb_cam"]
	path = src/sensors/usb_cam
	url = https://github.com/Enmar123/usb_cam.git
[submodule "src/sensors/LMS1xx"]
	path = src/sensors/LMS1xx
	url = https://github.com/clearpathrobotics/LMS1xx.git
[submodule "src/control/hector_slam"]
	path = src/control/hector_slam
	url = https://github.com/Enmar123/hector_slam.git
