<launch>
  <arg name="config" default="base" />

  <param name="robot_description"
         textfile="$(find jackal_description)/urdf/test.urdf" />


<!--
$(find jackal_description)/scripts/env_run
$(find jackal_description)/urdf/configs/$(arg config)
$(find jackal_description)/urdf/jackal.urdf.xacro" />
$(find jackal_description)/urdf/custom_example.urdf" />

                  $(find xacro)/xacro 

-->


  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
